body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F0f0f0;
  font-family: sans-serif;
}

.contador-container {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  transition: background-color 0.3s ease;
  border: solid 1px #000
}

button:hover{
  background-color: #0056b3;
}

.button-menos{
  margin: 0 0rem 0 0rem;
  background-color: orange;
}

.button-menos:hover{
  background-color: rgb(189, 123, 0);
}

.button-reset{
  background-color: red;
}

.button-reset:hover{
  background-color: rgb(194, 0, 0);
}